@import "tailwindcss";

@theme {
  --color-cyber-bg: #050510;
  --color-cyber-grid: #0f172a;
  --color-neon-blue: #00f0ff;
  --color-neon-pink: #ff003c;
  --color-neon-green: #39ff14;
  --color-neon-purple: #b026ff;
  --font-cyber: 'Inter', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-cyber-bg);
  color: white;
  font-family: var(--font-cyber);
  overflow: hidden;
}
